html,
body {
  font-size: 2vmin;
}

.App {
  min-height: 100vh;
  background-image: linear-gradient(90deg, yellow 0%, olive 50%, cyan 100%);
}

header {
  height: 15vh;
}

header h1 {
  background-color: rgba(250, 235, 215, .6);
}

.texto-justificado {
  text-align: justify;
  text-indent: 10%;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}
